.sass-cache
.vagrant/*

/node_modules
/npm-debug.log

.DS_Store

#private settings
ansible/settings/databases.yml
ansible/settings/licenses.yml
ansible/settings/projects.yml
ansible/roles/git/defaults/main.yml